--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.account_customuser OWNER TO postgres;

--
-- Name: account_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.account_customuser_groups OWNER TO postgres;

--
-- Name: account_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.account_customuser_user_permissions OWNER TO postgres;

--
-- Name: account_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: artiste_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artiste_type (
    id bigint NOT NULL,
    artist_id bigint NOT NULL,
    type_id bigint NOT NULL
);


ALTER TABLE public.artiste_type OWNER TO postgres;

--
-- Name: artiste_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.artiste_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.artiste_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: artiste_type_show; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artiste_type_show (
    id bigint NOT NULL,
    artist_type_id bigint NOT NULL,
    show_id bigint NOT NULL
);


ALTER TABLE public.artiste_type_show OWNER TO postgres;

--
-- Name: artiste_type_show_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.artiste_type_show ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.artiste_type_show_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: artists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.artists (
    id bigint NOT NULL,
    first_name character varying(60) NOT NULL,
    last_name character varying(60) NOT NULL,
    troupe_id bigint
);


ALTER TABLE public.artists OWNER TO postgres;

--
-- Name: artists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.artists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.artists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: localities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.localities (
    id bigint NOT NULL,
    postal_code character varying(6) NOT NULL,
    locality character varying(60) NOT NULL
);


ALTER TABLE public.localities OWNER TO postgres;

--
-- Name: localities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.localities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.localities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id bigint NOT NULL,
    slug character varying(60) NOT NULL,
    designation character varying(100) NOT NULL,
    address character varying(255) NOT NULL,
    website character varying(255),
    phone character varying(30),
    locality_id bigint NOT NULL
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.locations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: prices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prices (
    id bigint NOT NULL,
    type character varying(30) NOT NULL,
    price numeric(10,2) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL
);


ALTER TABLE public.prices OWNER TO postgres;

--
-- Name: prices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.prices ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.prices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: representation_reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representation_reservations (
    id bigint NOT NULL,
    quantity smallint NOT NULL,
    price_id bigint NOT NULL,
    representation_id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    CONSTRAINT representation_reservations_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.representation_reservations OWNER TO postgres;

--
-- Name: representation_reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.representation_reservations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.representation_reservations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: representations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representations (
    id bigint NOT NULL,
    schedule timestamp with time zone NOT NULL,
    location_id bigint NOT NULL,
    show_id bigint NOT NULL
);


ALTER TABLE public.representations OWNER TO postgres;

--
-- Name: representations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.representations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.representations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservations (
    id bigint NOT NULL,
    booking_date timestamp with time zone NOT NULL,
    status character varying(10) NOT NULL,
    representation_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.reservations OWNER TO postgres;

--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id bigint NOT NULL,
    rating integer NOT NULL,
    comment text NOT NULL,
    user_id bigint NOT NULL,
    show_id bigint NOT NULL
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reviews ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: role_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_user (
    id bigint NOT NULL,
    role_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.role_user OWNER TO postgres;

--
-- Name: role_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.role_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.role_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    role character varying(30) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shows (
    id bigint NOT NULL,
    slug character varying(60) NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    poster_url character varying(255),
    duration smallint,
    created_in smallint NOT NULL,
    bookable boolean NOT NULL,
    location_id bigint,
    CONSTRAINT shows_created_in_check CHECK ((created_in >= 0)),
    CONSTRAINT shows_duration_check CHECK ((duration >= 0))
);


ALTER TABLE public.shows OWNER TO postgres;

--
-- Name: shows_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shows ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shows_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: troupes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.troupes (
    id bigint NOT NULL,
    name character varying(60) NOT NULL,
    logo_url character varying(255) NOT NULL
);


ALTER TABLE public.troupes OWNER TO postgres;

--
-- Name: troupes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.troupes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.troupes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.types (
    id bigint NOT NULL,
    name character varying(60) NOT NULL
);


ALTER TABLE public.types OWNER TO postgres;

--
-- Name: types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: account_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: account_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: artiste_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.artiste_type (id, artist_id, type_id) FROM stdin;
1	1	4
2	2	1
3	3	2
4	4	3
5	5	1
\.


--
-- Data for Name: artiste_type_show; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.artiste_type_show (id, artist_type_id, show_id) FROM stdin;
1	1	1
2	2	2
3	3	3
4	4	4
5	5	5
\.


--
-- Data for Name: artists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.artists (id, first_name, last_name, troupe_id) FROM stdin;
2	Franck	Hernandez	1
3	Fran├ºoise	Klein	2
4	Maryse	Denis	2
5	Emmanuelle	Le Roux	3
6	Sylvie	Gimenez	3
7	Lucas	Marion	4
8	Emmanuelle	Coste	4
9	S├®bastien	Hebert	5
10	├ëric	Godard	5
1	Danielle	Camus	2
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-05-21 17:04:09.076883+00	4	admin - Admin	1	[{"added": {}}]	20	11
2	2025-05-21 17:17:32.505308+00	1	jab	2	[{"changed": {"fields": ["password"]}}]	21	11
3	2025-05-21 17:17:48.703067+00	2	zak	2	[{"changed": {"fields": ["password"]}}]	21	11
4	2025-05-21 17:18:06.610556+00	3	souf	2	[{"changed": {"fields": ["password"]}}]	21	11
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	catalogue	locality
7	catalogue	location
8	catalogue	artist
9	catalogue	show
10	catalogue	type
11	catalogue	artisttype
12	catalogue	artisttypeshow
13	catalogue	price
14	catalogue	representation
15	catalogue	review
16	catalogue	reservation
17	catalogue	representationreservation
18	catalogue	troupe
19	account	role
20	account	roleuser
21	account	customuser
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: localities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.localities (id, postal_code, locality) FROM stdin;
1	1000	Pr├®vost-sur-Mer
2	1001	Gonzalez
3	1002	Lemoine
4	1003	Sainte Christelle
5	1004	Saint Margaret-les-Bains
6	1005	Morel
7	1006	Sainte Virginie-la-For├¬t
8	1007	Huet-sur-Mer
9	1008	Humbert-sur-Delorme
10	1009	Lebreton
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prices (id, type, price, start_date, end_date) FROM stdin;
1	Enfant	33.36	2025-05-03	2025-12-09
2	├ëtudiant	43.03	2024-11-09	2026-03-07
3	Adulte	15.94	2025-02-04	2025-08-05
4	Senior	37.92	2024-07-03	2025-11-28
5	VIP	10.27	2024-10-19	2025-08-26
6	Promo	14.92	2024-08-06	2026-01-22
7	Invit├®	40.76	2024-06-03	2026-03-24
8	Standard	19.96	2024-08-09	2026-01-16
9	R├®duit	41.72	2024-07-13	2025-06-28
10	Plein tarif	9.53	2024-08-02	2025-11-13
\.


--
-- Data for Name: representation_reservations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representation_reservations (id, quantity, price_id, representation_id, reservation_id) FROM stdin;
1	2	1	1	1
2	1	4	2	2
3	3	2	3	3
4	4	10	4	4
5	1	6	5	6
\.


--
-- Data for Name: representations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representations (id, schedule, location_id, show_id) FROM stdin;
1	2025-05-19 20:00:00+00	1	1
2	2025-05-20 20:00:00+00	2	2
3	2025-05-21 20:00:00+00	3	3
4	2025-05-22 20:00:00+00	4	4
5	2025-05-23 20:00:00+00	5	5
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservations (id, booking_date, status, representation_id, user_id) FROM stdin;
1	2025-05-19 14:06:56.204546+00	expir├®e	1	1
2	2025-05-19 14:06:56.204562+00	compl├¿te	2	2
3	2025-05-19 14:06:56.204567+00	ouverte	3	3
4	2025-05-19 14:06:56.204571+00	compl├¿te	4	4
5	2025-05-19 14:06:56.204571+00	compl├¿te	4	1
6	2025-05-19 14:06:56.204575+00	compl├¿te	5	5
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reviews (id, rating, comment, user_id, show_id) FROM stdin;
1	2	Lui silence causer payer caract├¿re quand exister.	1	1
2	1	Danser savoir d├®passer lune plonger. Faux jeune naturellement chaleur affirmer. Environ neuf air certain forcer vif long.	2	2
3	5	R├®el renverser remercier monter. Demain cerveau d├®j├á fin oh.	3	3
4	4	Leur terreur o├╣ aller nouveau jusque en valoir. Penser peu l├®ger un jeune enfant sept.	4	3
5	3	J'ai adorer les chats quand ils volent !	1	4
6	1	Occuper prendre sac reposer. Tr├®sor crainte enfin quinze d├®sirer social.	5	5
\.


--
-- Data for Name: role_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_user (id, role_id, user_id) FROM stdin;
1	1	1
2	2	2
3	3	3
4	1	11
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, role) FROM stdin;
1	Admin
2	Organisateur
3	Utilisateur
\.


--
-- Data for Name: shows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: troupes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.types (id, name) FROM stdin;
1	Com├®dien
2	Danseur
3	Musicien
4	Chanteur
5	Magicien
6	Humoriste
7	Acrobate
8	Improvisateur
9	Mime
10	Conteuse
\.


--
-- Name: account_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_customuser_groups_id_seq', 1, false);


--
-- Name: account_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_customuser_id_seq', 11, true);


--
-- Name: account_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_customuser_user_permissions_id_seq', 1, false);


--
-- Name: artiste_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artiste_type_id_seq', 5, true);


--
-- Name: artiste_type_show_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artiste_type_show_id_seq', 5, true);


--
-- Name: artists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.artists_id_seq', 10, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 4, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 24, true);


--
-- Name: localities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.localities_id_seq', 10, true);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.locations_id_seq', 10, true);


--
-- Name: prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prices_id_seq', 10, true);


--
-- Name: representation_reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.representation_reservations_id_seq', 5, true);


--
-- Name: representations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.representations_id_seq', 5, true);


--
-- Name: reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservations_id_seq', 6, true);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reviews_id_seq', 6, true);


--
-- Name: role_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_user_id_seq', 4, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: shows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shows_id_seq', 10, true);


--
-- Name: troupes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.troupes_id_seq', 5, true);


--
-- Name: types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.types_id_seq', 10, true);


--
-- Name: account_customuser_groups account_customuser_groups_customuser_id_group_id_7e51db7b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_customuser_id_group_id_7e51db7b_uniq UNIQUE (customuser_id, group_id);


--
-- Name: account_customuser_groups account_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: account_customuser account_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser
    ADD CONSTRAINT account_customuser_pkey PRIMARY KEY (id);


--
-- Name: account_customuser_user_permissions account_customuser_user__customuser_id_permission_650e378f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_user__customuser_id_permission_650e378f_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: account_customuser_user_permissions account_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: account_customuser account_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser
    ADD CONSTRAINT account_customuser_username_key UNIQUE (username);


--
-- Name: artiste_type artiste_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type
    ADD CONSTRAINT artiste_type_pkey PRIMARY KEY (id);


--
-- Name: artiste_type_show artiste_type_show_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type_show
    ADD CONSTRAINT artiste_type_show_pkey PRIMARY KEY (id);


--
-- Name: artists artists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: localities localities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.localities
    ADD CONSTRAINT localities_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: locations locations_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_slug_key UNIQUE (slug);


--
-- Name: prices prices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prices
    ADD CONSTRAINT prices_pkey PRIMARY KEY (id);


--
-- Name: representation_reservations representation_reservati_representation_id_reserv_6f3d7427_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representation_reservations
    ADD CONSTRAINT representation_reservati_representation_id_reserv_6f3d7427_uniq UNIQUE (representation_id, reservation_id, price_id);


--
-- Name: representation_reservations representation_reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representation_reservations
    ADD CONSTRAINT representation_reservations_pkey PRIMARY KEY (id);


--
-- Name: representations representations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representations
    ADD CONSTRAINT representations_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_user_id_representation_id_3f75eb34_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_user_id_representation_id_3f75eb34_uniq UNIQUE (user_id, representation_id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: role_user role_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_user
    ADD CONSTRAINT role_user_pkey PRIMARY KEY (id);


--
-- Name: role_user role_user_user_id_role_id_8586afde_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_user
    ADD CONSTRAINT role_user_user_id_role_id_8586afde_uniq UNIQUE (user_id, role_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_role_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_key UNIQUE (role);


--
-- Name: shows shows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT shows_pkey PRIMARY KEY (id);


--
-- Name: shows shows_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT shows_slug_key UNIQUE (slug);


--
-- Name: troupes troupes_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.troupes
    ADD CONSTRAINT troupes_name_key UNIQUE (name);


--
-- Name: troupes troupes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.troupes
    ADD CONSTRAINT troupes_pkey PRIMARY KEY (id);


--
-- Name: types types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.types
    ADD CONSTRAINT types_pkey PRIMARY KEY (id);


--
-- Name: artists unique_artist_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT unique_artist_name UNIQUE (first_name, last_name);


--
-- Name: artiste_type unique_artist_type; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type
    ADD CONSTRAINT unique_artist_type UNIQUE (artist_id, type_id);


--
-- Name: artiste_type_show unique_artist_type_show; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type_show
    ADD CONSTRAINT unique_artist_type_show UNIQUE (artist_type_id, show_id);


--
-- Name: locations unique_location_slug_website; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT unique_location_slug_website UNIQUE (slug, website);


--
-- Name: localities unique_postal_code_locality; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.localities
    ADD CONSTRAINT unique_postal_code_locality UNIQUE (postal_code, locality);


--
-- Name: prices unique_price_type_date_range; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prices
    ADD CONSTRAINT unique_price_type_date_range UNIQUE (type, price, start_date, end_date);


--
-- Name: representations unique_show_schedule; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representations
    ADD CONSTRAINT unique_show_schedule UNIQUE (show_id, schedule);


--
-- Name: shows unique_show_slug_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT unique_show_slug_year UNIQUE (slug, created_in);


--
-- Name: types unique_type_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.types
    ADD CONSTRAINT unique_type_name UNIQUE (name);


--
-- Name: account_customuser_groups_customuser_id_b6c60904; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_customuser_groups_customuser_id_b6c60904 ON public.account_customuser_groups USING btree (customuser_id);


--
-- Name: account_customuser_groups_group_id_2be9f6d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_customuser_groups_group_id_2be9f6d7 ON public.account_customuser_groups USING btree (group_id);


--
-- Name: account_customuser_user_permissions_customuser_id_03bcc114; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_customuser_user_permissions_customuser_id_03bcc114 ON public.account_customuser_user_permissions USING btree (customuser_id);


--
-- Name: account_customuser_user_permissions_permission_id_f4aec423; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_customuser_user_permissions_permission_id_f4aec423 ON public.account_customuser_user_permissions USING btree (permission_id);


--
-- Name: account_customuser_username_724ae020_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_customuser_username_724ae020_like ON public.account_customuser USING btree (username varchar_pattern_ops);


--
-- Name: artiste_type_artist_id_46c32535; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX artiste_type_artist_id_46c32535 ON public.artiste_type USING btree (artist_id);


--
-- Name: artiste_type_show_artist_type_id_c69eacf5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX artiste_type_show_artist_type_id_c69eacf5 ON public.artiste_type_show USING btree (artist_type_id);


--
-- Name: artiste_type_show_show_id_a6d8a853; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX artiste_type_show_show_id_a6d8a853 ON public.artiste_type_show USING btree (show_id);


--
-- Name: artiste_type_type_id_6c1da3c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX artiste_type_type_id_6c1da3c4 ON public.artiste_type USING btree (type_id);


--
-- Name: artists_troupe_id_0210e401; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX artists_troupe_id_0210e401 ON public.artists USING btree (troupe_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: locations_locality_id_22dd0b44; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX locations_locality_id_22dd0b44 ON public.locations USING btree (locality_id);


--
-- Name: locations_slug_79c6d0f3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX locations_slug_79c6d0f3_like ON public.locations USING btree (slug varchar_pattern_ops);


--
-- Name: representation_reservations_price_id_de97d281; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representation_reservations_price_id_de97d281 ON public.representation_reservations USING btree (price_id);


--
-- Name: representation_reservations_representation_id_92943868; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representation_reservations_representation_id_92943868 ON public.representation_reservations USING btree (representation_id);


--
-- Name: representation_reservations_reservation_id_32cd428d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representation_reservations_reservation_id_32cd428d ON public.representation_reservations USING btree (reservation_id);


--
-- Name: representations_location_id_860c4ba1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representations_location_id_860c4ba1 ON public.representations USING btree (location_id);


--
-- Name: representations_show_id_90b07717; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX representations_show_id_90b07717 ON public.representations USING btree (show_id);


--
-- Name: reservations_representation_id_5f66501d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservations_representation_id_5f66501d ON public.reservations USING btree (representation_id);


--
-- Name: reservations_user_id_d03abc5b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reservations_user_id_d03abc5b ON public.reservations USING btree (user_id);


--
-- Name: reviews_show_id_53c4ca85; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_show_id_53c4ca85 ON public.reviews USING btree (show_id);


--
-- Name: reviews_user_id_c23b0903; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_user_id_c23b0903 ON public.reviews USING btree (user_id);


--
-- Name: role_user_role_id_3b7811a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX role_user_role_id_3b7811a1 ON public.role_user USING btree (role_id);


--
-- Name: role_user_user_id_c9245d4a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX role_user_user_id_c9245d4a ON public.role_user USING btree (user_id);


--
-- Name: roles_role_b42a84cc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX roles_role_b42a84cc_like ON public.roles USING btree (role varchar_pattern_ops);


--
-- Name: shows_location_id_a6832141; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shows_location_id_a6832141 ON public.shows USING btree (location_id);


--
-- Name: shows_slug_ce9bb9c3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shows_slug_ce9bb9c3_like ON public.shows USING btree (slug varchar_pattern_ops);


--
-- Name: troupes_name_65731662_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX troupes_name_65731662_like ON public.troupes USING btree (name varchar_pattern_ops);


--
-- Name: account_customuser_groups account_customuser_g_customuser_id_b6c60904_fk_account_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_g_customuser_id_b6c60904_fk_account_c FOREIGN KEY (customuser_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_groups account_customuser_groups_group_id_2be9f6d7_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_group_id_2be9f6d7_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_user_permissions account_customuser_u_customuser_id_03bcc114_fk_account_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_u_customuser_id_03bcc114_fk_account_c FOREIGN KEY (customuser_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_user_permissions account_customuser_u_permission_id_f4aec423_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_u_permission_id_f4aec423_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: artiste_type artiste_type_artist_id_46c32535_fk_artists_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type
    ADD CONSTRAINT artiste_type_artist_id_46c32535_fk_artists_id FOREIGN KEY (artist_id) REFERENCES public.artists(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: artiste_type_show artiste_type_show_artist_type_id_c69eacf5_fk_artiste_type_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type_show
    ADD CONSTRAINT artiste_type_show_artist_type_id_c69eacf5_fk_artiste_type_id FOREIGN KEY (artist_type_id) REFERENCES public.artiste_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: artiste_type_show artiste_type_show_show_id_a6d8a853_fk_shows_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type_show
    ADD CONSTRAINT artiste_type_show_show_id_a6d8a853_fk_shows_id FOREIGN KEY (show_id) REFERENCES public.shows(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: artiste_type artiste_type_type_id_6c1da3c4_fk_types_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artiste_type
    ADD CONSTRAINT artiste_type_type_id_6c1da3c4_fk_types_id FOREIGN KEY (type_id) REFERENCES public.types(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: artists artists_troupe_id_0210e401_fk_troupes_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.artists
    ADD CONSTRAINT artists_troupe_id_0210e401_fk_troupes_id FOREIGN KEY (troupe_id) REFERENCES public.troupes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: locations locations_locality_id_22dd0b44_fk_localities_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_locality_id_22dd0b44_fk_localities_id FOREIGN KEY (locality_id) REFERENCES public.localities(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: representation_reservations representation_reser_representation_id_92943868_fk_represent; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representation_reservations
    ADD CONSTRAINT representation_reser_representation_id_92943868_fk_represent FOREIGN KEY (representation_id) REFERENCES public.representations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: representation_reservations representation_reser_reservation_id_32cd428d_fk_reservati; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representation_reservations
    ADD CONSTRAINT representation_reser_reservation_id_32cd428d_fk_reservati FOREIGN KEY (reservation_id) REFERENCES public.reservations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: representation_reservations representation_reservations_price_id_de97d281_fk_prices_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representation_reservations
    ADD CONSTRAINT representation_reservations_price_id_de97d281_fk_prices_id FOREIGN KEY (price_id) REFERENCES public.prices(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: representations representations_location_id_860c4ba1_fk_locations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representations
    ADD CONSTRAINT representations_location_id_860c4ba1_fk_locations_id FOREIGN KEY (location_id) REFERENCES public.locations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: representations representations_show_id_90b07717_fk_shows_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representations
    ADD CONSTRAINT representations_show_id_90b07717_fk_shows_id FOREIGN KEY (show_id) REFERENCES public.shows(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservations reservations_representation_id_5f66501d_fk_representations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_representation_id_5f66501d_fk_representations_id FOREIGN KEY (representation_id) REFERENCES public.representations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reservations reservations_user_id_d03abc5b_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_user_id_d03abc5b_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews reviews_show_id_53c4ca85_fk_shows_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_show_id_53c4ca85_fk_shows_id FOREIGN KEY (show_id) REFERENCES public.shows(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews reviews_user_id_c23b0903_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_c23b0903_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: role_user role_user_role_id_3b7811a1_fk_roles_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_user
    ADD CONSTRAINT role_user_role_id_3b7811a1_fk_roles_id FOREIGN KEY (role_id) REFERENCES public.roles(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: role_user role_user_user_id_c9245d4a_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_user
    ADD CONSTRAINT role_user_user_id_c9245d4a_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shows shows_location_id_a6832141_fk_locations_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT shows_location_id_a6832141_fk_locations_id FOREIGN KEY (location_id) REFERENCES public.locations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

